.home-page {
  background-color: #ffffff;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0px;
}

.loading-page {
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;             /* Ensure full height */
  position: fixed;            /* Fixed to viewport */
  top: 0;
  left: 0;
  display: flex;              /* Flexbox layout */
  justify-content: center;    /* Horizontally center */
  align-items: center;        /* Vertically center */
  z-index: 1000;              /* High z-index to overlay everything */
  overflow: hidden;           /* Prevent any overflow */
}

.loading-page img {
  transform: scale(0.5);      /* Use transform for scaling */
  max-width: 100%;            /* Ensure image resizes properly within viewport */
  max-height: 100%;           /* Ensure the image doesn't overflow */
  object-fit: contain;        /* Maintain aspect ratio */
}

.home-page .fun-facts-section {
  background-color: var(--variable-collection-color-4);
  height: auto;
  left: 1px;
  position: absolute;
  top: 2299px;
  width: 1278px;
}

.home-page .fact {
  position: absolute;
}

.home-page .description {
  position: absolute;
}

.home-page .text-wrapper {
  color: #fcf9f5;
}

.home-page .span {
  font-family: "Varela Round-Regular", Helvetica;
  font-size: 20px;
}


.home-page .header {
  background-color: transparent;
  height: auto;
  left: 420px;
  position: absolute;
  top: 67px;
  width: 100%;
}

.home-page .tagline {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.home-page .image {
  height: 100%;
  position: absolute;
  width: auto;
}

.home-page .nav-bar {
  background-color: #faf5f5;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home-page .logo {
  height: auto;
  position: absolute;
  width: auto;
}

.home-page .layer {
  background-image: url(./rectangle.png);
  background-size: 100% 100%;
}