main.route-about{ 
    --variable-collection-color: rgba(255, 204, 60, 1);
    --variable-collection-color-2: rgba(252, 249, 245, 1);
    --variable-collection-color-3: rgba(31, 33, 35, 1);
    --variable-collection-color-4: rgba(233, 89, 43, 1);
    --variable-collection-color-5-link: rgba(61, 124, 187, 1);
    
    overflow: hidden;

    @font-face {
      font-display: swap;
      font-style: normal;
      src: url(".fonts/VarelaRound-Regular.ttf") format('opentype');
      font-family: "Varela Round";
      font-weight: 400;
    }
    @font-face {
      font-display: swap;
      font-style: normal;
      src: url("./fonts/SoftMarshmallow.otf") format('opentype');
      font-family: "Soft Marshallow";
      font-weight: 400;
    }

    .container {
        width: 100%;
        // height: 1348px;
        margin-top: -10%;
      }
      
      .container, .overlap {
        position: relative;
        height: 3337px;
        top: 100px;
        background-color: var(--variable-collection-color-2);
      }
      
      .container .header {
        margin-left: 3%;
        justify-content: center;
        position: absolute;
        width: 1094px;
        height: 453px;
        top: 40px;
        left: 94px;
        background-color: transparent;
      }
      
      .container .overlap-group {
        margin-left: -5%;
        position: relative;
        width: 100%;
        height: 453px;
        margin-top: -10%
      }
      
      .container .logo {
        position: absolute;
        width: auto;
        height: 322px;
        top: 131px;
        margin: 0px 40%;
      }
      
      .container .text-wrapper {
        text-align: center;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.12;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: #e9592b;
        font-size: 380px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
        z-index: -1;
      }
      
      .container .about-pandeleona {
        position: absolute;
        width: 100%;
        height: 1276px;
        top: 528px;
        left: 97px;
        text-align: center;
        
      }
      
      .container .history-section {
        margin-left: 0%;

        position: absolute;
        width: 954px;
        height: 282px;
        top: -20px;
        left: 69px;
      }
      
      .container .description {
        width: 948px;
        top: 116px;
        left: 0;
        margin-left: 20px;
        font-size: 18px;
        line-height: 28px;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        letter-spacing: 0;
      }
      
      .container .div {
        top: 61px;
        left: 340px;
        margin-left: 30px;
        font-size: 20px;
        line-height: normal;
        white-space: nowrap;
        position: absolute;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
        text-align: center;
      }
      
      .container .about-PDL {
        position: absolute;
        top: 0;
        left: 335px;        
        margin-left: 30px;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-4);
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .overlap-2 {
        position: absolute;
        width: 1069px;
        height: 973px;
        top: 303px;
        left: 0;
      }
      
      .container .mission-section {
        
        position: absolute;
        width: 992px;
        height: 531px;
        top: 0px;
        left: 100px;
      }
      
      .container .mission {
        position: absolute;
        width: 419px;
        height: 251px;
        top: 151px;
        left: -20px;
      }
      
      .container .p {
        width: 415px;
        top: 59px;
        left: 0;
        font-size: 18px;
        line-height: 28px;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
      }
      
      .container .about-PDL-2 {
        left: 99px;
        position: absolute;
        top: 0;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-4);
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .image {
        position: absolute;
        width: 564px;
        height: 531px;
        top: 0;
        left: 428px;
        background-image: url(./img/vector.png);
        background-size: 100% 100%;
      }
      
      .container .img {
        position: absolute;
        width: 421px;
        height: 300px;
        top: 117px;
        left: 69px;
      }
      
      .container .vision-section {
        position: absolute;
        width: 1022px;
        height: 479px;
        top: 494px;
        left: -70px;
      }
      
      .container .vision {
        position: absolute;
        width: 438px;
        height: 294px;
        top: 102px;
        left: 700px;
      }
      
      .container .description-2 {
        width: 434px;
        height: 222px;
        top: 72px;
        left: 0;
        font-size: 18px;
        line-height: 28px;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
      }
      
      .container .about-PDL-3 {
        left: 126px;
        position: absolute;
        top: 0;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-4);
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .overlap-group-wrapper {
        position: absolute;
        width: auto;
        height: 479px;
        top: 0;
        left: 50px;
        transform: scale(0.8);
      }
      
      .container .overlap-group-2 {
        position: relative;
        width: 528px;
        height: 421px;
        top: 31px;
        left: 22px;
      }
      
      .container .vector {
        position: absolute;
        width: 174px;
        height: 187px;
        top: 370px;
        left: -30px;
      }
      
      .container .vector-2 {
        position: absolute;
        width: 181px;
        height: 181px;
        top: 20px;
        left: 447px;
      }
      
      .container .image-2 {
        position: absolute;
        height: 100%;
        top: 70px;
        left: 0px;
        object-fit:contain;
      }
      
      .container .separator {
        position: absolute;
        opacity: 0.5;
        width: 1000px;
        height: 2px;
        top: 1970px;
        left: 160px;
      }
      
      .container .about-creators {
        position: relative;
        width: 892px;
        height: 872px;
        top: 1938px;
        left: 230px;
      }
      
      .container .title {
        position: absolute;
        width: 467px;
        top: 130px;
        bottom: 600px;
        left: 211px;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-4);
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .member {
        height: 353px;
        top: 127px;
        left: 0;
        position: absolute;
        width: 224px;
      }
      
      .container .overlap-group-3 {
        top: 100px;
        position: relative;
        width: 220px;
        height: 353px;
      }
      
      .container .card {
        height: 350px;
        top: 10px;
        position: absolute;
        width: 220px;
        left: 0;
      }
      
      .container .image-3 {
        object-fit: contain;
        position: absolute;
        width: 193px;
        height: 193px;
        top: 0;
        left: 13px;
      }
      
      .container .description-3 {
        width: 176px;
        top: 287px;
        left: 22px;
        font-size: 16px;
        text-align: center;
        line-height: normal;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
      }
      
      .container .product {
        top: 197px;
        position: absolute;
        width: 157px;
        left: 31px;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-3);
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .overlap-wrapper {
        height: 353px;
        top: 127px;
        left: 335px;
        position: absolute;
        width: 224px;
      }
      
      .container .description-4 {
        width: 176px;
        top: 287px;
        left: 22px;
        font-size: 16px;
        text-align: center;
        line-height: normal;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
      }
      
      .container .div-wrapper {
        height: 353px;
        top: 127px;
        left: 670px;
        position: absolute;
        width: 224px;
      }
      
      .container .product-2 {
        top: 209px;
        position: absolute;
        width: 157px;
        left: 31px;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-3);
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .member-2 {
        height: 357px;
        top: 615px;
        left: 0;
        position: absolute;
        width: 224px;
      }
      
      .container .overlap-3 {
        position: relative;
        width: 220px;
        height: 357px;
        overflow: visible;
      }
      
      .container .card-2 {
        height: 319px;
        top: 38px;
        position: absolute;
        width: 220px;
        left: 0;
      }
      
      .container .description-5 {
        width: 176px;
        top: 300px;
        left: 21px;
        font-size: 18px;
        text-align: center;
        line-height: normal;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
      }
      
      .container .product-3 {
        top: 199px;
        position: absolute;
        width: 157px;
        left: 31px;
        font-family: "Soft Marshmallow";
        font-weight: 400;
        color: var(--variable-collection-color-3);
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
      }
      
      .container .member-3 {
        height: 357px;
        top: 615px;
        left: 335px;
        position: absolute;
        width: 224px;
      }
      
      .container .member-4 {
        height: 357px;
        top: 615px;
        left: 670px;
        position: absolute;
        width: 224px;
      }
      
      .container .card-3 {
        height: 323px;
        top: 34px;
        position: absolute;
        width: 220px;
        left: 0;
      }
      
      .container .description-6 {
        width: 176px;
        top: 300px;
        left: 22px;
        font-size: 18px;
        text-align: center;
        line-height: normal;
        position: absolute;
        font-family: "Varela Round", Helvetica;
        font-weight: 400;
        color: var(--variable-collection-color-3);
        letter-spacing: 0;
      }      
}