main.route-home{    
@media only screen and (max-width: 550px) {
	.menu-link {
		padding-left: 20px;
		padding-right: 20px;
	}
}

header .menu-link {
	color: var(--deep_orange_600) !important;
	padding: 6px 15px;
}

header .menu-link:hover {
	color: var(--gray_50_01) !important;
	background-color: var(--deep_orange_600);
	border-radius: var(--radius-sm);
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100px;
	flex-shrink: 0;
}

.tagline-section{
	height: 700px;
	background-color: #E9592B;
	object-fit: contain;
	overflow: visible;
	img{
		width: 60%;
		float: inline-end;
		margin-top: -300px;
	}
	.rowtagline {
		float: left;
		height: 60%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: start;
		position: absolute;
		margin-left: 10%;
	}	
	.tagline {
		color: var(--gray_50_01) !important;
		max-width: 100%;
		margin-top: 10%;
	}
	.tagline-span{
		display: flex;
		flex-shrink: 0;
		color: var(--Color-2, #FCF9F5);
		font-family: "Soft Marshmallow";
		font-size: 2.9rem;
		width: 55%;
		line-height: 50px;
		#pandeleona{
			color: #FFCC3C;
		}
	}
	.description {
		color: var(--Color-2, #FCF9F5);
		font-family: "Varela Round";
		font-size: 1rem;
		width: 50%;
		line-height: 30px;
		position: absolute;
		top: 55%;
	}
	.rowbutton{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		.home-btn{
			margin-top: 27%;
			margin-left: 10%;
			width: 15%;
			font-size: 1.3rem;
			border-radius: 10px;
			border-style: none;
			background: var(--Color-2, #FCF9F5);
			padding: 10px 20px;
			font-family: "Soft Marshmallow";

			a {
				color: #E9592B;
				text-decoration: none;
			}
		}
		.home-btn:hover {
			color: #E9592B;
			font-family: "Soft Marshmallow";
			background-color: #1F2123;
		}
	}
	
	
	@media only screen and (max-width: 1050px) {
		.tagline {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		img{
			height: 80%;
		}
		.rowtagline {
			flex-direction: column;
			position: relative;
		}
		.tagline-span{
			font-size: 2rem;
		}
		.description{
			font-size: 0.8rem;
		}
		.rowbutton a{
			top: 30%;
		}
	}
	}
}

.product-display-section{
	display: block;
	background-color: #FCF9F5;
	width: 100%;
	height: 650px;
	
	text-align: center;
	flex-shrink: 0;
	color: #1F2123;
	font-family: "Soft Marshmallow";
	font-size: 2.9rem;
	overflow: hidden;
	
	.title {
		padding: 20px;
		color: #E9592B;
	}
	.pandesaldisplay {
		position:static;
		object-fit: contain;
		flex-wrap: wrap-reverse
	}
	
	.product-display {
		margin: 20px;
		align-self: stretch;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-right: auto;
		transition: 0.3s;
		img{
			width: 30%;
		}
		img:hover{
			width: 35%;
			opacity: 0.9;
			margin: -50px -80px;
		}
	}
	.product {
		display:inline-block;
		margin-top: -80px;
		flex-shrink: 0;
		.name{
			font-size: 1.5rem;
			font-family: "Soft Marshmallow";
		}
		.description{
			font-family: "Varela Round";
			font-size: 1rem;
		}
	}

@media only screen and (max-width: 1050px) {
	.product-display-section{
		height: 100%;
	}
	.product-display {
		padding: 0px 20px;
	}
	.pandesaldisplay {
		width: 30%;
		overflow: hidden;
	}
}
}

.delivery-section{
	background-color: #1F2123;
	display: flex;
	flex-direction: column;
	height: 650px;

	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	background-image: url(img/feature_pandesal.png);
	background-size: cover;
	background-repeat: no-repeat;

	.columnabout_us{
		display: block;
		height: 200px;
		text-align: center;
		padding: 20px;

		.title{
			font-family: "Soft Marshmallow";
			margin: 20px;
			padding: 10px;
			font-size: 2rem;
			color: #1F2123;

		}
		.description{
			font-family: "Varela Round";
			padding: 10px;
			color: var(--Color-2, #FCF9F5);
			font-size: 1rem;
		}
		.about-btn{
			font-size: 1.3rem;
			border-radius: 10px;
			border-style: none;
			background: #FFCC3C;
			padding: 10px 25px;
			font-family: "Soft Marshmallow";

			a{
				padding: 0px 20px;
				text-decoration: none;
				color: #1F2123;
			}
		}
		.about-btn:hover{
			background-color: #FCF9F5;
			color: #FFCC3C;
		}
	}
	.rowfreshly {
		align-items: center;
		padding: 10px;
		margin: 10px;
	}
	.feature{
		border-radius: 15px;
		background: var(--Color-2, #FCF9F5); 
		width: 20%;
		padding: 10px;
		margin: 20px;
		text-align: center;
		justify-content: space-around;

		.name{
			font-size: 1.3rem;
			font-family: "Soft Marshmallow";
			padding: 10px;
		}
		.description{
			font-family: "Varela Round";
			font-size: 1rem;
		}
		.freshly_baked{
			display: block;
			flex-direction: row-reverse;
		}
	}
	.feature:hover{
		background-color: #1F2123;
		color: #FCF9F5;
	}
	
	.container {
		display: flex;
		margin: 10px;
		justify-content: center;
		
	}

	@media only screen and (max-width: 1050px) {
	.rowfreshly {
		padding: 20px;
	}
	}
	.freshly_baked {
		height: 40px;
		margin-top: 14px;
		margin-left: 84px;
		color: #E9592B;
		align-items: center;
	}	
	.description {
		display: inline-flex;
		margin-top: 4px;
		font-family: Varela Round !important;
		text-align: center;
		font-size: 0.8rem;
		line-height: 19px;
	}
	
	@media only screen and (max-width: 1050px) {
		.container {
			flex-direction: row;
		}
	}
}

}

.funfacts-section{
	background-color: #FCF9F5;
	font-size: 2rem;
	height: auto;
	

	.header{
		text-align: center;
		color: #E9592B;
		height: 150px;
		padding: 5%;
		width: 100%;
		
		.ui{
			font-family: "Soft Marshmallow";
		}
		.tagline_one{
			font-size: 1.5rem;
			color: #1F2123;
		}
		#pandesal{
			color: #FFCC3C;
		}
	}

	#slider{
		display: flex;
		flex-direction: column;
		height: auto;
		
		.fact{
			background-image: url(img/img_pandesal.png);
			background-size: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			border-radius: 100px;
			height: auto;
			margin: 0px 30%;
			justify-content: center;
			text-align: center;
			padding: 10%;

			.description-span{
				font-family: "Soft Marshmallow";
				font-size: 1.5rem;
				color: #1F2123;
			}
			.description-span-1{
				font-family: "Varela Round";
				font-size: 1rem;
				color: #1F2123;
			}
		}
	}
}



.headerlogo {
	height: 72px;
	object-fit: contain;
}

@media only screen and (max-width: 1050px) {
	.headerlogo {
		margin-left: 0px;
	}
}


@media only screen and (max-width: 1050px) {
	.tabs {
		align-self: auto;
	}
}

.home-link {
	background-color: var(--deep_orange_600);
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: var(--radius-sm);
}

@media only screen and (max-width: 550px) {
	.home-link {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.home {
	color: var(--gray_50_01) !important;
	padding: 6px 24px;
}