main.route-home{
	
	@font-face {
		font-display: swap;
		font-style: normal;
		src: url(".fonts/VarelaRound-Regular.ttf") format('opentype');
		font-family: "Varela Round";
		font-weight: 400;
	  }
	  @font-face {
		font-display: swap;
		font-style: normal;
		src: url("./fonts/SoftMarshmallow.otf") format('opentype');
		font-family: "Soft Marshallow";
		font-weight: 400;
	  }
	  
@media only screen and (max-width: 550px) {
	.menu-link {
		padding-left: 20px;
		padding-right: 20px;
	}
}

header .menu-link {
	color: var(--deep_orange_600) !important;
	padding: 6px 15px;
}

header .menu-link:hover {
	color: var(--gray_50_01) !important;
	background-color: var(--deep_orange_600);
	border-radius: var(--radius-sm);
}

header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100px;
	flex-shrink: 0;
}

.tagline-section{
	height: 630px;
	background-color: #E9592B;
	object-fit: contain;
	overflow: visible;
	width: 100%;

	.image{
		width: 20%;
		height: auto;
		float: right;
		contain: layout;	
		overflow: visible;
		object-fit: contain;

		img{
			height: 100%;
			width: 1200px;
			right: 0px;
			margin-top: -30px;
			margin-left: 570px;
			
		}
	}
	.rowtagline {
		float: left;
		width: 70%;
		height: auto;
		display: grid;
		align-items: start;
		position: relative;
		contain: inline-size layout;
		left: 2%;
	
		.tagline {
			color: var(--gray_50_01) !important;
			top: 20%;
			left: 9%;
		}
		.tagline-span{
			display: flex;
			flex-shrink: 0;
			color: var(--Color-2, #FCF9F5);
			font-family: "Soft Marshmallow";
			font-size: 2.8rem;
			height: auto;
			line-height: 50px;
			text-align: left;
			
			#pandeleona{
				color: #FFCC3C;
			}
		}
		.description {
			color: var(--Color-2, #FCF9F5);
			font-family: "Varela Round";
			font-size: 1rem;
			width: 60%;
			line-height: 30px;
			position: absolute;
			top: 33%;
			text-align: left;
			contain: paint;
			margin-top: 3%;
			margin-left: 9%;
			z-index: 0;
			
		}
	
		.rowbutton{
			margin-top: 28%;
			justify-content: flex-end;
			align-items: center;
			.home-btn{
				margin-top: 3%;
				margin-left: 6.5%;
				width: 20%;
				font-size: 1.3rem;
				border-radius: 10px;
				border-style: none;
				background: var(--Color-2, #FCF9F5);
				padding: 10px 30px;
				font-family: "Soft Marshmallow";
				z-index: 2;

				a {
					color: #E9592B;
					text-decoration: none;
					font-size: 1.5rem;
				}
			}
			.home-btn:hover {
				color: #E9592B;
				font-family: "Soft Marshmallow";
				background-color: #1F2123;
			}
		}

		.rowbottom{
			height: auto;
			width: 100%;
			overflow: visible;
			margin-top: 160px;
			margin-left: -100px;			
			object-fit: contain;
		}


	}
	
	
	@media only screen and (max-width: 1050px) {
		.tagline {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			display: block;
		img{
			height: 80%;
			object-fit: contain ;

		}
		.rowtagline {
			flex-direction: column;
			position: relative;
		}
		.tagline-span{
			font-size: 2rem;
			width: 80%;
		}
		.description{
			font-size: 0.5rem;
			width: 80%;
		}
		.rowbutton button{
			padding: auto;
			font-size: 0.5rem;
			margin-top: 300px;
		}
	}
	}
}

.product-display-section{
	display: grid;
	background-color: #FCF9F5;
	width: 100%;
	display: block;
	padding: 10px;
	
	.title {
		padding: 30px 20px;
		margin-top: 100px;
		text-align: center;
		flex-shrink: 0;
		color: #1F2123;
		font-family: "Soft Marshmallow";
		color: #E9592B;
		font-size: 3rem;
	}
	.pandesaldisplay {
		position:static;
		object-fit: contain;
		flex-wrap: wrap;
		margin: 0% 5%;
	}
	
	.product-display {
		margin: 20px;
		align-self: stretch;
		display: block;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-right: auto;
		transition: 0.3s;
		img{
			width: 40%;
			margin: -50px;
		}

		#choco{
			transform: scale(0.7);
			margin-bottom: 30px;
			position:static;
		}

		#choco:hover{
			transform: scale(0.9);
		}
	
		#malunggay{
			transform: scale(0.6);
		}
		#malunggay:hover{
			transform:scale(0.7);
			// margin: 0px 5px
		}

		#matcha{
			transform: scale(0.9);
			margin-bottom: 0px;
		}

		#matcha:hover{
			transform: scale(1.1);
		}

		// img:hover{
		// 	width: 41%;
		// 	opacity: 0.9;
		// 	// margin: -50px -80px;
		// 	transform:scale(1.5)
		// }
	}
	.product {
		display:block;
		flex-shrink: 0;
		padding: 30px;
		margin: 30px 0px;
		justify-content: center;

		.name{
			font-size: 1.5rem;
			font-family: "Soft Marshmallow";
			text-align: center;
			color: #E9592B;
		}
		.description{
			font-family: "Varela Round";
			font-size: 1rem;
			text-align: center;
			margin: 0% 35%;
		}
	}

@media only screen and (max-width: 1050px) {
	.product-display-section{
		height: 100%;
	}
	.product-display {
		padding: 0px 20px;
		flex-direction: column;
	}
	.pandesaldisplay {
		display: block;
		width: 20%;
		overflow: hidden;
	}
}
}

.delivery-section{
	background-color: #1F2123;
	display: flex;
	flex-direction: column;
	height: 650px;

	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	background-image: url(img/feature_pandesal.png);
	background-size: cover;
	background-repeat: no-repeat;

	.columnabout_us{
		margin: 50px 0px;
		display: block;
		height: 200px;
		text-align: center;
		padding: 20px;

		.title{
			font-family: "Soft Marshmallow";
			padding: 10px;
			font-size: 2rem;
			color: #1F2123;
			margin-top: 30px;

		}
		.description{
			margin-top: -200px;
			margin-bottom: 50px;
			font-family: "Varela Round";
			padding: 10px;
			color: var(--Color-2, #1F2123);
			font-size: 1rem;
		}
		.about-btn{
			font-size: 1.3rem;
			border-radius: 15px;
			border-style: none;
			background: #FFCC3C;
			padding: 10px 30px;
			font-family: "Soft Marshmallow";

			a{
				padding: 0px 20px;
				text-decoration: none;
				color: #1F2123;
				font-size: 1.5rem;
			}
		}
		.about-btn:hover{
			background-color: #FCF9F5;
			color: #FFCC3C;
		}
	}
	.rowfreshly {
		align-items: center;
		padding: 10px;
		margin: 10px;
	}
	.feature{
		border-radius: 15px;
		background: var(--Color-2, #FCF9F5); 
		width: 20%;
		padding: 10px;
		margin: 20px;
		text-align: center;
		justify-content: space-around;

		.name{
			font-size: 1.3rem;
			font-family: "Soft Marshmallow";
			padding: 10px;
		}
		.description{
			font-family: "Varela Round";
			font-size: 1rem;
		}
		.freshly_baked{
			display: block;
			flex-direction: row-reverse;
			justify-content: center;
			margin-left: 42%;
		}
		#phone-icon{
			margin-left: 44%;
		}
	}
	.feature:hover{
		background-color: #1F2123;
		color: #FCF9F5;
	}
	
	.container {
		display: flex;
		margin: 10px;
		justify-content: center;
		
	}

	@media only screen and (max-width: 1050px) {
	.rowfreshly {
		padding: 20px;
	}
	}
	.freshly_baked {
		height: 40px;
		margin-top: 14px;
		margin-left: 84px;
		color: #E9592B;
		align-items: center;
	}	
	.description {
		display: inline-flex;
		margin-top: 4px;
		font-family: Varela Round !important;
		text-align: center;
		font-size: 0.8rem;
		line-height: 19px;
	}
	
	@media only screen and (max-width: 1050px) {
		.container {
			flex-direction: row;
		}
	}
}

}

.funfacts-section{
	background-color: #FCF9F5;
	font-size: 2rem;
	height: auto;
	

	.header{
		text-align: center;
		color: #E9592B;
		height: 150px;
		padding: 5%;
		width: 100%;
		
		.ui{
			font-family: "Soft Marshmallow";
		}
		.tagline_one{
			font-size: 1.5rem;
			color: #1F2123;
		}
		#pandesal{
			color: #FFCC3C;
		}
	}

	#slider{
		display: flex;
		flex-direction: column;
		height: auto;
		
		.fact{
			background-color: #E9592B;
			background-size: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			border-radius: 500px;
			height: auto;
			margin: 3% 35%;
			justify-content: center;
			text-align: center;
			padding: 5%;

			.description-span{
				font-family: "Soft Marshmallow";
				font-size: 1.5rem;
				color: #1F2123;
				line-height: 10px;
			}
			.description-span-1{
				font-family: "Varela Round";
				font-size: 1rem;
				color: #FCF9F5;
				line-height: 10px;
			}
		}
		.fact:hover{
			background-size: 120%;
			color: #FCF9F5
		}
	}
}



.headerlogo {
	height: 72px;
	object-fit: contain;
}

@media only screen and (max-width: 1050px) {
	.headerlogo {
		margin-left: 0px;
	}
}


@media only screen and (max-width: 1050px) {
	.tabs {
		align-self: auto;
	}
}

.home-link {
	background-color: var(--deep_orange_600);
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: var(--radius-sm);
}

@media only screen and (max-width: 550px) {
	.home-link {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.home {
	color: var(--gray_50_01) !important;
	padding: 6px 24px;
}