:root {
  --primary: #E9592B;
  --secondary: #FFCC3C;
  --accent: #5c2410;
  
  --text: #fcf9f5;
  --fill: #faf5f5;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("./fonts/VarelaRound-Regular.ttf");
  font-family: "Varela Round";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("./fonts/Soft Marshmallow.otf");
  font-family: "Soft Marshallow";
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  scroll-behavior: smooth;
  min-height: 100vh;
}

header > img{
  width: 5%;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--primary);
}

header {
  display: flex;
  padding-block: 0.5rem;
  justify-content: space-evenly;
  background-color: var(--fill);
  z-index: 1;
  height: 100px;

  h1 {
    color: var(--Color-4, #E9592B);
    font-family: "Soft Marshmallow";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    font-size: 2.75rem;

    margin-left: 1%;
    margin-top: 1%;
    padding: 10px;
  }
  img {
    margin-right: -100px;
    float: left;
  }
}

main {
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: right;
  width: 50%;

  a {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px 10px;

    width: 6.5rem;
    height: 3rem;

    text-decoration: none;
    
    color: var(--Color-4, #E9592B);
    font-family: "Soft Marshmallow";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transform: translateY(1rem);
    transition: 450ms cubic-bezier(0.34, 1.56, 0.64, 1);

    &.active {
      border-radius: 25px;

      color: var(--Color-2, #FCF9F5);
      font-family: "Soft Marshmallow";
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: var(--primary);

      i {
        color: var(--accent);
      }
      
    }

    i {
      color: var(--primary);
      font-size: 3.5rem;
    }
  }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  h1{
    font-size: 1rem;
    font-weight: 400;
    scale: 0.9;
    display: none;
  }
  header {
    img{
    width: 10%;
    }
    nav{
      a{
        width: 3.5rem;
        height: 3.5rem;
      }
      i{
        font-size: 3rem;
      }
      p{
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  p {
      font-size: 1rem;
  }

  button {
      width: 100%;
  }
}

footer{
  font-family: "Valera Round";
height: 60px;
width: 100%;
display: flex;
background-color: #1F2123;
color: #FCF9F5;
justify-content: center;
padding: 10px;
font-size: 1rem;

.logo{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

img{
  height: 1.5rem;
  width: auto;
  margin: 0px 10px;
}
}