main.route-menu{
  
  .menu-page {
    width: 100%;
  }
  .menu_title{
    margin: 10px;
    padding: 30px;
    font-size: 2rem;
    font-family: "Soft Marshmallow";
    color: #E9592B;
    text-align: center;
  }

  .menu-container {
    height: 1200px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    width: 100%;
    justify-content: center;

    @media only screen and (max-width: 1050px) {
      flex-direction: column;
    }
  }

  .menu_page {
    justify-content: center;
    margin: 0px 10%;
    padding: 10px;
    gap: var(--space-md);
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: absolute;
    border-radius: var(--radius-sm);

    @media only screen and (max-width: 1050px) {
      align-self: stretch;
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;
    }

    @media only screen and (max-width: 550px) {
      align-self: auto;
      padding: 20px;
    }
  }


  .product {
    object-fit:contain;  
    display: block;
    margin: 60px 15px;
    background-color: #FCF9F5;
    position: relative;
    height: 70%;
    width: 90%;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;

    img{
      margin-top: -100px;
      width: 90%;
    }
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  .product:hover{
    background-color: #1F2123;
    transform: scale(1.1);
    color: #FCF9F5;
  }

  .columnproduct {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-sm);
    font-family: "Soft Marshmallow";

    .product-1{
      font-size: 2rem;
      color: #E9592B;;
    }
    .price{
      font-size: 1rem;
    }


    @media only screen and (max-width: 550px) {
      padding: 0px;
    }
  }

  .classic_one, .malunggay_one, .cheese_one, .choco_one, .matcha_one, .ubecheese_one, .yema_one {
    max-height: 200px;
    object-fit:cover;
    overflow: visible;
    margin: 10px;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
}